@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
body{zoom: 90%;}
:root {
  --primary: #ecc49c;
  --white: #ffffff;
  --bg: #080808;
}

html {
  font-size: 62.5%;
  font-family: Roboto;
  scroll-behavior: smooth;
}


::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

body {
  font-size: 1.6rem;
  background: var(--bg);
}

.container {
  display : flex;
  max-width: 100%;
  padding: 1.5rem;
  margin: 0;
  height: 12rem;

  margin-left: 10px;
  margin-right: 10px;
}


.left-image,
.right-image {
  flex: 1;
}

.left-image img,
.right-image img {
  width: 100%;
  height: auto;
  display: block;
}

.container img{
max-width: 120px;
max-height: 120px;
align-items: space-between;

}

.text-center {
  text-align: center;
  
}

.section-heading {
  font-size: 3rem;
  color: var(--primary);
  padding: 2rem 0;
}

#tranding {
 margin-top: 0.5%;
}

/* @media (max-width:1440px) {
  #tranding {
    padding: 7rem 0;
  }
} */

#tranding .tranding-slider {
  /* height: 70%; */
  /* padding: 2rem 0; */
  position: relative;
  margin-left: 2%;
  margin-right: 2%;
}

/* @media (max-width:500px) {
  #tranding .tranding-slider {
    height: 45rem;
  }
} */

/* adjust me to change card size */
.tranding-slide {
  width: 70rem;
  height: 70rem;
  position: relative;
  
}


/* adjust me to change card size */
.tranding-slide .tranding-slide-img img {
  width: 70rem;
  height: 70rem;
  border-radius: 2rem;
  object-fit: cover;
  /* border: 10px solid #BCB88A; */
}

.tranding-slide .tranding-slide-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.tranding-slide-content .food-price {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--white);
}

.tranding-slide-content .tranding-slide-content-bottom {
  position: absolute;
  bottom: 4rem; /* Adjust this value as needed */
  left: 0;
  right: 0;
  color: var(--white);
  text-align: center; /* Center text horizontally */
}

.tranding-slide-content .tranding-slide-content-bottom p {
  font-family: roboto;
  font-weight: 800;
  font-size: 42px;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.tranding-slider-control {
  margin-top: 2%;
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tranding-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.tranding-slider-control .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.tranding-slider-control .slider-arrow::after {
  content: '';
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 1rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}