.item:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
  box-shadow: 1px 2px 4px 5px white;
  border-radius: 36px;
 }

.entertainment {
  background-color: #4c4343;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.entertainment .overlap-wrapper {
  background-color: #4c4343;
  width: 1920px;
  height: 1080px;
}

.entertainment .overlap {
  position: relative;
  width: 1824px;
  height: 1026px;
  top: 27px;
  left: 48px;
  background-color: #ffffff;
}

.entertainment .screen {
  position: relative;
  height: 1026px;
  background-color: #000000;
  overflow: hidden;
}

.entertainment .overlap-group {
  position: absolute;
  width: 1477px;
  height: 562px;
  top: 259px;
  left: 173px;
}

.entertainment .text-wrapper {
  position: absolute;
  width: 878px;
  height: 326px;
  top: 104px;
  left: 316px;
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0.1px;
  line-height: 50px;
}

.entertainment .rectangle {
  position: absolute;
  width: 1477px;
  height: 562px;
  top: 0;
  left: 0;
}

.entertainment .div {
  position: absolute;
  width: 809px;
  height: 88px;
  top: 207px;
  left: 334px;
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 70px;
  text-align: center;
  letter-spacing: 0.1px;
  line-height: 87.5px;
}

.entertainment .call-GLA {
  position: absolute;
  width: 302px;
  height: 87px;
  top: 890px;
  left: 68px;
}

.entertainment .div-wrapper {
  position: relative;
  width: 310px;
  height: 97px;
  top: -5px;
  left: -5px;
  background-color: #ffc000;
  border-radius: 18px;
  border: 5px solid;
  border-color: #ffdf7f;
  box-shadow: inset 0px 4px 4px #00000040, 0px 4px 4px #00000040;
}

.entertainment .text-wrapper-2 {
  position: absolute;
  width: 242px;
  height: 61px;
  top: 13px;
  left: 29px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0.1px;
  line-height: 50px;
}

.entertainment .masks-wrapper {
  position: absolute;
  width: 158px;
  height: 158px;
  top: 51px;
  left: 446px;
  border-radius: 38px;
  background: linear-gradient(180deg, rgb(142.8, 0, 255) 0%, rgb(85.09, 0, 193.39) 100%);
}

.entertainment .masks {
  position: absolute;
  width: 84px;
  height: 84px;
  top: 43px;
  left: 42px;
}

.entertainment .text-wrapper-3 {
  position: absolute;
  width: 568px;
  top: 88px;
  left: 628px;
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 70px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.entertainment .group {
  position: absolute;
  width: 370px;
  height: 203px;
  top: 845px;
  left: 1380px;
}

.entertainment .emergency-call {
  position: absolute;
  width: 113px;
  height: 113px;
  top: 0;
  left: 128px;
  border-radius: 38px;
  background: linear-gradient(180deg, rgb(255, 55.25, 115.18) 0%, rgb(224.19, 0, 0) 100%);
}

.entertainment .vector {
  position: absolute;
  width: 59px;
  height: 59px;
  top: 27px;
  left: 27px;
}

.entertainment .EMERGENCY-CALL {
  position: absolute;
  width: 368px;
  top: 129px;
  left: 0;
  font-family: "Roboto Flex", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
