/* @@ -1,200 +1,236 @@ */
body{
  background-color: black;
  
}

.box{ 
  display: flex;
  flex-direction: column;
  border: 15px solid #BCB88A;
  background: #FFF9E6;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 80%;
  height: 25%;
  margin:auto;
  margin-top: 50px;
  color: #000;
  border-radius: 18px;
  text-align: center;
  
}
.lower{
  flex-direction: row;
  display: flex;
  align-items: center; 
  justify-content: center;
  margin: auto;
  }

  .topbox {
    margin: auto;
    margin-top: 100px;
    color: white;
    font-size: 80px;
    font-family: Roboto;
    /* width: 1920px; */
    display: flex;
    /* align-items: center;  */
    justify-content: space-around;
    
    
  }
  .glLogo {
    display: block;
    margin:auto;
    /* margin-top: 17px; */
  }
  .wrapper{
    display: flex;
    align-items: flex-start;
    gap: 15px;
  }
  
  h1{
    color: black;
    font-size: 70px;
    font-family: Roboto;
    text-align: center
    ;
  }
  .emergeButton{
    margin-top: -80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 40px;
    font-family: Roboto;
   }
   .textBelow {
    color: white;
    font-size: 32px;
    font-family: Roboto;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 32px;
  }
   .textBeside {
    margin:0px;
    color: white;
    font-size: 80px;
    font-family: Roboto;
   }

   p { color: #414141;
    font-size: 40px;
    font-family: Roboto;
    text-align: center;}

  .grid_container {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    padding: 25px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 100px;
  }
  .numberbox{
  display: flex;
  background: #FFF9E6;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  font-size: 40px;
    font-family: Roboto;
  width: 180px;
  height: 180px;
  margin:auto;
  
  color: #000;
  border-radius: 18px;
  }