.item:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
  box-shadow: 1px 2px 4px 5px white;
  border-radius: 36px;
 }
  

.element-home {
  background-color: #4c4343;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.element-home .overlap-wrapper {
  background-color: #4c4343;
  width: 1920px;
  height: 1080px;
}

.element-home .overlap {
  position: relative;
  width: 1824px;
  height: 1026px;
  top: 27px;
  left: 48px;
  background-color: #ffffff;
}

.element-home .screen {
  position: absolute;
  width: 1824px;
  height: 1026px;
  top: 0;
  left: 0;
  background-color: #000000;
}

.element-home .smartloft-button {
  position: absolute;
  width: 315px;
  height: 365px;
  top: 49px;
  left: 355px;
}

.element-home .overlap-group {
  position: absolute;
  width: 313px;
  height: 313px;
  top: 0;
  left: 0;
  border-radius: 38px;
  background: linear-gradient(180deg, rgb(255, 198.9, 0) 0%, rgb(255, 153, 0) 100%);
}

.element-home .light-bulb {
  position: absolute;
  width: 164px;
  height: 182px;
  top: 66px;
  left: 75px;
}

.element-home .smart-loft {
  position: absolute;
  width: 313px;
  top: 324px;
  left: 0;
  font-family: "Roboto Flex", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 45px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element-home .my-schedule {
  position: absolute;
  width: 315px;
  height: 374px;
  top: 576px;
  left: 355px;
}

.element-home .text-wrapper {
  position: absolute;
  width: 313px;
  top: 333px;
  left: 0;
  font-family: "Roboto Flex", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 45px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element-home .calendar-wrapper {
  position: absolute;
  width: 313px;
  height: 313px;
  top: 0;
  left: 0;
  border-radius: 38px;
  background: linear-gradient(180deg, rgb(0, 199.16, 226.31) 0%, rgb(0, 123.77, 193.39) 100%);
}

.element-home .calendar {
  position: absolute;
  width: 164px;
  height: 164px;
  top: 75px;
  left: 75px;
}

.element-home .emergency-call {
  position: absolute;
  width: 370px;
  height: 406px;
  top: 576px;
  left: 1136px;
}

.element-home .EMERGENCY-CALL {
  position: absolute;
  width: 368px;
  top: 332px;
  left: 0;
  font-family: "Roboto Flex", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 45px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.element-home .group-wrapper {
  position: absolute;
  width: 313px;
  height: 313px;
  top: 0;
  left: 16px;
  border-radius: 38px;
  background: linear-gradient(180deg, rgb(255, 55.25, 115.18) 0%, rgb(224.19, 0, 0) 100%);
}

.element-home .group {
  position: absolute;
  width: 163px;
  height: 148px;
  top: 78px;
  left: 74px;
}

.element-home .rectangle {
  position: absolute;
  width: 166px;
  height: 42px;
  top: 959px;
  left: 1630px;
  background-color: #444343;
  border-radius: 18px;
}

.element-home .div {
  position: absolute;
  width: 146px;
  height: 27px;
  top: 964px;
  left: 1641px;
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0.1px;
  line-height: 20px;
}

.element-home .entertainment {
  position: absolute;
  width: 318px;
  height: 361px;
  top: 41px;
  left: 1151px;
}

.element-home .vector-wrapper {
  position: absolute;
  width: 313px;
  height: 313px;
  top: 0;
  left: 0;
  border-radius: 38px;
  background: linear-gradient(180deg, rgb(142.8, 0, 255) 0%, rgb(85.09, 0, 193.39) 100%);
}

.element-home .vector {
  position: absolute;
  width: 185px;
  height: 162px;
  top: 70px;
  left: 64px;
}

.element-home .text-wrapper-2 {
  position: absolute;
  width: 313px;
  top: 325px;
  left: 3px;
  font-family: "Roboto Flex", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 45px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
