@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --primary: #ecc49c;
  --white: #ffffff;
  --bg: #080808;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

/* @media (min-width: 1920px) {
  html {
    zoom: 1.2;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 3.5;
  }
} */

::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

body {
  font-size: 1.6rem;
  background: var(--bg);
}

.container {
  max-width: 100%;
  padding: 1rem;
  margin: 0;
  height: 12rem;
}

.image_container{
  margin: 0;
  height: 12rem; 
  align-items: left;
  position: absolute;
  top: 68px;
  left: 0;
  width: 100%;
  padding: 1rem;
  list-style: none;
  display: flex;  
  flex-direction: space-between;
  gap: 1.5rem;
  
}

.image_container img{
  max-width: 150px;
}




.text-center {
  text-align: center;
  
}

/* #tranding {
  max-width: 1920px;
} */

.section-heading {
  font-size: 3rem;
  color: var(--primary);
  padding: 2rem 0;
}

#tranding {
  padding: 4rem 0;
}

@media (max-width:1440px) {
  #tranding {
    padding: 7rem 0;
  }
}

#tranding .tranding-slider {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
  margin-left: 15%;
  margin-right: 15%;
}

@media (max-width:500px) {
  #tranding .tranding-slider {
    height: 45rem;
  }
}

.tranding-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}

@media (max-width:500px) {
  .tranding-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .tranding-slide .tranding-slide-img img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.tranding-slide .tranding-slide-img img {
  width: 37rem;
  height: 42rem;
  border-radius: 2rem;
  object-fit: cover;
}


.tranding-slide .tranding-slide-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.tranding-slide-content .food-price {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--white);
}

.tranding-slide-content .tranding-slide-content-bottom {
  position: absolute;
  bottom: 4rem; /* Adjust this value as needed */
  left: 0;
  right: 0;
  color: var(--white);
  text-align: center; /* Center text horizontally */
}

.tranding-slide-content .tranding-slide-content-bottom p {
  font-family: roboto;
  font-weight: 800;
  font-size: 42px;
}

.food-rating {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}

.rating ion-icon {
  color: var(--primary);
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.tranding-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tranding-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.tranding-slider-control .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.tranding-slider-control .slider-arrow::after {
  content: '';
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 1rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}

.lower {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 25px;
}
.emergeButton{
  margin-top: -80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 40px;
  font-family: Roboto;
}
.textBelow {
  color: white;
  font-size: 32px;
  font-family: Roboto;
  text-align: center;
  margin-top: 12px;
}
.textBeside {
  margin:0px;
}
.item:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
  box-shadow: 1px 2px 4px 5px white;
  border-radius: 36px;
}

.topbox {
  margin: auto;
  margin-top: 100px;
  color: white;
  font-size: 80px;
  font-family: Roboto;
  /* width: 1920px; */
  display: flex;
  /* align-items: center;  */
  justify-content: space-around;
  
  
}
.glLogo {
  display: block;
  margin:auto;
  /* margin-top: 17px; */
}

.wrapper{
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.tranding-slide-content-bottom { 
  color: white;
  font-size: 40px;
  font-family: Roboto;
  align-items: center;
  text-align: center;}
  
  .box{ 
    width: 400px;
    height: 160px;
    color: white;
    font-family: Roboto;
    font-size: 20px;
    border: 15px solid #F3B717;
    border-radius: 18px;
    background: #7F8181;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .container{
    margin: auto;
    height: auto;
    padding:0%;
    padding-top: 10px;
  }
  .currentWeather {
    padding: 0%;
  }
  
  .tranding-slide-content {
    display: flex;
    justify-content: center;
    font-weight: bold;
  }
  