
.lower{
  flex-direction: row;
  display: flex;
  align-items: center; 
  justify-content: center;
  margin: auto;
  }

.emergeButton{
  margin-top: -80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 40px;
  font-family: Roboto;
}
.textBelow {
  color: white;
  font-size: 32px;
  font-family: Roboto;
  text-align: center;
  margin-top: 12px;
}
.textBeside {
  margin:0px;
}
.item:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
  box-shadow: 1px 2px 4px 5px white;
  border-radius: 36px;
}

.topbox {
  margin: auto;
  margin-top: 50px;
  color: white;
  font-size: 80px;
  font-family: Roboto;
  /* width: 1920px; */
  display: flex;
  /* align-items: center;  */
  justify-content: space-around;
  
  
}
.glLogo {
  display: block;
  margin:auto;
  /* margin-top: 17px; */
}

.wrapper{
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.tranding-slide-content-bottom { 
  color: white;
  font-size: 40px;
  font-family: Roboto;
  align-items: center;
  text-align: center;}
  
  .box{ 
    width: 400px;
    height: 170px;
    color: white;
    font-family: Roboto;
    font-size: 20px;
    border: 15px solid #F3B717;
    border-radius: 18px;
    background: #7F8181;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .container {
    margin: auto;
    height: auto;
    padding: 0%;
    padding-top: 10px;
    display: flex;
    flex-direction: column; /* Updated to stack elements vertically */
  }
  
  .currentWeather {
    padding: 0%;
  }
  
  .tranding-slide-content {
    display: flex;
    justify-content: center;
    font-weight: bold;
  }
  p {font-size: 24px;
  text-align: center;
margin-top: -5px;}

