

.lower{
  flex-direction: row;
  display: flex;
  align-items: center; 
  justify-content: center;
  margin: auto;
  }

  .topbox {
    margin: auto;
    margin-top: 50px;
    color: white;
    font-size: 80px;
    font-family: Roboto;
    /* width: 1920px; */
    display: flex;
    /* align-items: center;  */
    justify-content: space-around;
    
    
  }
  .glLogo {
    display: block;
    margin:auto;
    /* margin-top: 17px; */
  }
  .wrapper{
    display: flex;
    align-items: flex-start;
    gap: 15px;
  }
  
  h1{
    color: white;
    font-size: 40px;
    font-family: Roboto;
  }
  .emergeButton{
    margin-top: -80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 40px;
    font-family: Roboto;
   }
   .textBelow {
    color: white;
    font-size: 32px;
    font-family: Roboto;
    text-align: center;
    margin-top: 12px;
  }
   .textBeside {
    margin:0px;
    color: white;
    font-size: 80px;
    font-family: Roboto;
   }
   .item:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
    box-shadow: 1px 2px 4px 5px white;
    border-radius: 36px;
   }
   p { color: #414141;
    font-size: 40px;
    font-family: Roboto;
    text-align: center;}

  .tranding-slide-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-weight: bold;
    }
  #weightbox , #stablebox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    font-size: 35px;
    font-family: Roboto;
    text-align: center;
    align-content: center;
    align-items: center;
  }
  #tempbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
    font-family: Roboto;
    text-align: center;
    align-content: center;
    align-items: center;
    
    margin-top: -15%;
  }
 

  /* Close button */
.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  /* margin: auto; */
  top: 0;
  /* left: 0; */
  width: 100%;
  height: 100%;
  min-width: 1000px;
  min-height: 250px;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-content: center;
} 

/* Modal content */
/* Center the modal content */
.modal-content {
  background-color: #fff;
  padding: 50px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 80%; /*Adjust the maximum width as needed */
  
  display: flex;
  align-self: center;
  align-items: center;
  justify-self: center;
}

/* Set dimensions for the canvas element */
canvas {
  max-width: 100%;
  max-height: 80vh;
  min-height: 300px;
  height: auto;  /*Allow the chart's height to adapt */
  
}
