.welcome-page {
  background-color: #4c4343;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.welcome-page .overlap-wrapper {
  background-color: #4c4343;
  width: 1920px;
  height: 1080px;
}

.welcome-page .overlap {
  position: relative;
  width: 1824px;
  height: 1026px;
  top: 27px;
  left: 48px;
  background-color: #ffffff;
}

.welcome-page .screen {
  position: relative;
  height: 1026px;
  background-color: #000000;
}

.welcome-page .header {
  position: absolute;
  width: 1279px;
  height: 377px;
  top: 51px;
  left: 282px;
  background-color: transparent;
}

.welcome-page .overlap-group {
  position: relative;
  width: 1307px;
  height: 392px;
  top: -15px;
  left: -15px;
}

.welcome-page .rectangle {
  position: absolute;
  width: 1307px;
  height: 366px;
  top: 0;
  left: 0;
  background-color: #fff9e6;
  border-radius: 18px;
  border: 15px solid;
  border-color: #bcb88a;
}

.welcome-page .text-wrapper {
  position: absolute;
  width: 809px;
  height: 176px;
  top: 95px;
  left: 59px;
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 70px;
  text-align: center;
  letter-spacing: 0.1px;
  line-height: 87.5px;
}

.welcome-page .asset {
  position: absolute;
  width: 397px;
  height: 305px;
  top: 87px;
  left: 852px;
  object-fit: cover;
}

.welcome-page .date-time {
  position: absolute;
  width: 682px;
  height: 257px;
  top: 428px;
  left: 230px;
}

.welcome-page .element-attempts {
  position: relative;
  width: 712px;
  height: 287px;
  top: -15px;
  left: -15px;
  background-color: #fff9e6;
  border-radius: 18px;
  overflow: hidden;
  border: 15px solid;
  border-color: #bcb88a;
}

.welcome-page .flexcontainer {
  position: relative;
  justify-content: center;
  width: 682px;
  height: 257px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.welcome-page .text {
  position: relative;
  align-self: stretch;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 50px;
  text-align: center;
  letter-spacing: 0.1px;
  line-height: 50px;
}

.welcome-page .span {
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 50px;
  letter-spacing: 0.1px;
  line-height: 50px;
}

.welcome-page .element-attempts-wrapper {
  position: absolute;
  width: 682px;
  height: 257px;
  top: 428px;
  left: 1056px;
}

.item:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease; }
  
.welcome-page .div {
  position: absolute;
  width: 722px;
  height: 257px;
  top: 0;
  left: 0;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 50px;
  text-align: center;
  letter-spacing: 0.1px;
  line-height: 40px;
}

.welcome-page .overlap-group-wrapper {
  position: absolute;
  width: 900px;
  height: 300px;
  top: 708px;
  left: 589px;
  background-color: #fff9e6;
  border-radius: 18px;
  overflow: hidden;
  border: 15px solid;
  border-color: #bcb88a;
}

.welcome-page .overlap-2 {
  position: relative;
  width: 722px;
  height: 177px;
  top: 53px;
  left: 41px;
}

.welcome-page .flexcontainer-2 {
  position: absolute;
  width: 722px;
  height: 177px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.welcome-page .span-wrapper {
  position: relative;
  align-self: stretch;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 50px;
  letter-spacing: 0.1px;
  line-height: 40px;
}

.welcome-page .text-wrapper-2 {
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 50px;
  letter-spacing: 0.1px;
  line-height: 40px;
}

.welcome-page .weather {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 13px;
  left: 447px;
}
